.note-container{
    background-color: bisque;
    width: 450px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;

}
.conatainer{
    margin: 6rem;
    /* background-color: aqua; */
}
.title-section{
    /* padding: 10px; */
    font-size: 1.5rem;
    /* background-color: blue; */
    font-weight: bold;
    border: none;
}
.body-section{
    border: none;
    width: 400px;
    /* background-color: red; */
}
.info-section{
    /* padding: 1rem; */
    font-size: 10px;
    background-color: gainsboro;
}
.info-list{
    display: flex;
}
ul li{
    font-size: 14px;
}
.list-icons{
    padding: 0;
    display: flex;
    margin-left: 1rem;
}