.filter-container{
    display: flex;
    justify-content: center;
    position: relative;
}
.filter{
    margin: 1rem;
    background-color: beige;
    padding: 1rem;
    width: 43rem;
    display: flex;
    justify-content: space-between;
}
